<a href="https://colab.research.google.com/github/dednomerios/ML_2024_Aliyari/blob/main/Practice%20code/mohammad_sina_workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

In [ ]:
'salam {} {}'.format(12, 'hi')

'salam 12 hi'

In [ ]:
a = 12
b = 'salam'
f'hello {a} {b}'

'hello 12 salam'

## tuple list set

In [ ]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
print(my_list,my_tuple)
# error : my_tuple[1] = 5  !!! cannot change
my_set = {1,2,2,1}
print(my_set) # handle repeated vars
12 in {1,2,3,4}

[1, 2, 3] (1, 2, 3)
{1, 2}

False

## dictionary - most important for DS

In [ ]:
my_dict = {'a':12, 'b':{1, 2, 3}}
my_dict['b'] # reach the arguments

{1, 2, 3}

## conditional loops

In [ ]:
if my_dict['a'] == 12:
  print('sth')
elif 1 in my_dict['b']:
  print('sth....')
else:
  print('sth..........')

sth

In [ ]:
# infinite loop
while True:

  print('HI')

In [ ]:
for i in [1,2,3]:
  print(i)
for i in enumerate([1,2,3]):
  print(i)

1
2
3
(0, 1)
(1, 2)
(2, 3)

In [ ]:
for i in range(1,5):
  print('*' * (i))

*
**
***
****

In [ ]:
def magic2(number = '3'):
  if isinstance(number, str):  # we can decide for every format with isinstance
    number = int(number)
  elif isinstance(number, (int, float)):
    pass
  else:
    raise ValueError('wrong format')
  for i in range(number):
    print('* ' * (i+1))

In [ ]:
magic2(5)
magic2(5)
magic2(5)
magic2()

*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *
*
* *
* * *

### positional arguments

In [ ]:
def add(a,b = 2):
  return a+b

add(2,)  # positional arguments


# non positional using star  (we have to enter wich one we want to assign after the *,)
def add(a,*,b = 2, c = 1):
  return a+b+c

add(2,c = 6, b = 1)  # positional arguments

9

In [ ]:
type(add(2,c = 6, b = 1))

int

# object oriented python

In [ ]:
students_name = ['ali','hassan','mohammad']
pyhton_study_time = [3, 2, 4]
python_grade = [18, 17, 19]
java_study_time = [2, 2, 1]
java_grade = [14, 13, 15]

In [ ]:
class student:
  def __init__(self,name):
    self.name = name
  def say_my_name(self):
    print(f'my name is {self.name}')

In [ ]:
ali = student(name = 'ali')

In [ ]:
ali.say_my_name()

my name is ali

In [ ]:
# class student:
#   def __init__(self,name):
#     self.name = name
#   def say_my_name(self):   # dynamic method
#     print(f'my name is {self.name}')
#   def say_hello(self):   #static method
#     print('Helooooo...')


class student:
  def __init__(self,name):
    self.name = name
  def say_my_name(self):   # dynamic method
    print(f'my name is {self.name}')

  @staticmethod
  def say_hello():   #static method
    print('Helooooo...')

In [ ]:
ali = student(name = 'ali')
ali.say_hello()

Helooooo...

## protected and private attribute
we can change it but it is a non written rule not to bother variables with _
we can use it inside the class though

In [ ]:
class student:
  def __init__(self,name):
    self._name = name       # protected with _
  def say_my_name(self):   # dynamic method
    print(f'my name is {self._name}')

  @staticmethod
  def say_hello():   #static method
    print('Helooooo...')

In [ ]:
class student:
  def __init__(self,name):
    self._name = name       # protected with _
    self.__name = name      # cannot change outside the class
  def say_my_name(self):   # dynamic method
    print(f'my name is {self.__name}')

  @staticmethod
  def say_hello():   #static method
    print('Helooooo...')

## inheritance

In [66]:
class student:
  def __init__(self, name, number):
    self._name = name
    self._check_number(number)
    self._number = number
  def _check_number(self, number):
    if number % 4:    # شماره دانشجویی بخش پذیر بر 4 باشه اررو نده
      raise ValueError()

class KntuStudent(student):
  def _check_number(self, number):
    if number % 5:    # شماره دانشجویی بخش پذیر بر 5 باشه اررو نده
      raise ValueError()  # اینجا داریم اوررایت میکنیم شرط بخش پذیری بر 4 رو در متد کلی میگیم خواجه نصیر بخش بر 5 هست

In [68]:
ali = KntuStudent('ali', 5)

In [58]:
ali._name

'ali'

## magic method

In [83]:
class student:
  def __init__(self, name, number):
    self._name = name
    self._check_number(number)
    self._number = number
  def _check_number(self, number):
    if number % 4:    # شماره دانشجویی بخش پذیر بر 4 باشه اررو نده
      raise ValueError()
  def __str__(self):
    return(f'student name is: {self._name} ')
  def __eq__(self, other):
    return self._number == other._number
  def __len__(self):
    return 10


class KntuStudent(student):
  def _check_number(self, number):
    if number % 5:    # شماره دانشجویی بخش پذیر بر 5 باشه اررو نده
      raise ValueError()  # اینجا داریم اوررایت میکنیم شرط بخش پذیری بر 4 رو در متد کلی میگیم خواجه نصیر بخش بر 5 هست

In [84]:
ali = KntuStudent('ali', 5)

In [74]:
ali.__str__()  # we can use some of the methode is python by coding like this

'student name is: ali '

In [75]:
str(ali)

'student name is: ali '

In [77]:
ali2 = KntuStudent('ali', 5)

اگر شماره دانشجویی ها برابر بودن با هم یه دانشجو ان ولی اکر اسما یکی بودن شماره دانشجویی ها یکی نیستند دو نفر ان

In [78]:
ali == ali2

True

In [79]:
ali3 = KntuStudent('ali', 10)

In [80]:
ali == ali3
# ali.__eq__(ali3)

False

یه عدد ثابت رو میده بهمون که مثلا اندازه یک لیست رو بهمون برمیگردونه در دیتاست ها کاربرد داره

In [85]:
len(ali)

10