<a href="https://colab.research.google.com/github/dednomerios/ML_2024_Aliyari/blob/main/Practice%20code/python_toturial_mj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

name = 'Ali'
print(f'hello {name}')
#print(f'greetings: {name}')

hello Ali

In [15]:
my_list = [1, 2, 3]
# print(my_list)
# my_list.insert(1,5)
# print(my_list)
sum(my_list)
print('the summation is:', sum(my_list))
my_other_list = my_list.copy()
print(my_other_list)

the summation is: 6
[1, 2, 3]

In [31]:
my_list1 = [1, 2, 3]
my_tuple = (3, 4, 5)
print(len(my_tuple))
# my_list1.extend(my_tuple)
print(my_list1 + list(my_tuple) )

3
[1, 2, 3, 3, 4, 5]

In [28]:
my_dict = {'Name':'Ali', 'Age':22, 'job':'engineer'}
# print(my_dict['Age'])
my_dict['Gender'] = 'male'
print(my_dict)
del my_dict['Gender']
print(my_dict)

{'Name': 'Ali', 'Age': 22, 'job': 'engineer', 'Gender': 'male'}
{'Name': 'Ali', 'Age': 22, 'job': 'engineer'}

In [33]:
x = 2
if x<5:
  print('x<5')
elif x<10:
  print('x<10')
else:
  print('x>=10')

x<5

In [39]:
for i in range(4):
  print(i)

print('\n')
for j in range(3,7):
  print(j)

print('\n')

i = 0
while i<6:
  print(i)
  i += 1

0
1
2
3


3
4
5
6


0
1
2
3
4
5

In [40]:
my_list = ['Ali', 45, [1, 3]]
for item in my_list:
  print(item)

Ali
45
[1, 3]

function

In [49]:
def greet(name = 'world'):
  print('Hello', name)

greet('sajjad')
print('\n')
greet()


def my_sum(a,b):
  return a+b


my_sum(2,3)

Hello sajjad


Hello world

5

In [51]:
class person:
  def __init__(self, firstname, lastname):
    self.firstname = firstname
    self.lastname = lastname
  def say_hello(self):
    print("hello,", self.firstname + self.lastname )

person1 = person('Ali', " Mehrabi")
person1.say_hello()

hello, Ali Mehrabi